/**
 * style.css
 *
 */

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

html {
    background: url(#{resource[ 'default:images/background5.jpg' ]}) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 62.5%;
}

body {
    background: rgba(255, 255, 255, 0.54);
    font: 1.4rem Courier New, Courier, Monospaced;
    text-align: center;
    width: 90%;
    margin: 0 auto; /* center */
    padding: 0;
    border-radius: 15px;
}

header {
    background: url(#{resource[ 'default:images/banner.png' ]}) no-repeat center;
    height: 255px;
    width: 100%;
    margin-top: 0;
    margin: auto;
}

footer {
    position: relative;
    clear: both;
    margin: auto;
    padding: 10px;
    width: 100%;
    text-align: center !important;
}

section {
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
    /*clear: both;*/
    width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font: 1.9rem/1rem Courier New, Courier, Monospaced;
}

h1 {
    color: #4c170e;
    font: 2.4rem Courier New, Courier, Monospaced;
    font-weight: bolder;
    padding-bottom: 2px;
}

h2 {
    font-family: Courier New, Courier, Monospaced;
    font-size: 2.2rem;
}

h3 {
    font-size: 2.0rem;
    font-weight: bold;
}

h4 {
    font-size: 1.8rem;
    font-weight: bolder;
}

h5 {
    font-family: Courier New, Courier, Monospaced;
    font-size: 1.6rem;
    font-weight: bolder;
}

h6 {
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    font-family: Courier New, Courier, Monospaced;
    font-size: 1.4rem;
}

a:link {
    outline: none;
    text-decoration: none;
}

a:visited {
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #c60513;
    text-decoration: underline;
}

a:active {
    color: #b2b2b2;
    outline: none;
    text-decoration: none;
}

a:focus {
    outline: 1px dotted;
}

hr {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-color: ivory;
    border-width: 1px;
    margin: 0 auto;
    width: 80%;
}

h2#date1 {
    color: black;
    /*font: Courier New, Courier, Monospaced;*/
    font-size: 2.4rem;;
    font-weight: bold;
    padding: 0;
}

h2#date2 {
    color: red;
    /*font: Courier New, Courier, Monospaced;*/
    font-size: 6.0rem;
    font-weight: bold;
    padding: 0;
}

.window_date {
    position: relative;
    bottom: 0;
    top: 30px;
    left: 0;
    right: 0;

    margin: auto;
    z-index: 1000;
    font-family: Courier New, Courier, Monospaced;
    font-size: 3.0rem;
    font-weight: bolder;
    color: #ffffff;
    opacity: 0.5;
    text-shadow: 2px 2px #ff0000;

}

#date_wrapper {
    position: absolute;
    left: 0;
    top: 100px;
    right: 0;
    bottom: 0;
    height: 100px;
}


.lock {
    position: relative;
    width: 25px;
    height: 25px;
    margin: 0;
}

.lock_panel {
    position: absolute;
    bottom: 1px;
    right: 2px;
    margin: auto;
    width: 25px;
    height: 25px;
}

.edit_panel {
    position: absolute;
    bottom: 1px;
    right: 30px;
    margin: auto;
    width: 25px;
    height: 25px;
    border: #ffffff solid 1px;
}

.delete_panel {
    position: absolute;
    bottom: 1px;
    right: 2px;
    margin: auto;
    width: 25px;
    height: 25px;
    border: #ffffff solid 1px;
}

.edit_panel:hover, .delete_panel:hover {
    border: grey solid 1px;
}

.thumbnail_container {
    background: url(#{resource[ 'default:images/background2.jpg' ]}) repeat;
    float: left;
    position: relative;
    width: 90px;
    height: 90px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px #888888;
}

.thumbnail {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

.thumbnail_container:hover {
    background: url(#{resource[ 'default:images/background.jpg' ]}) repeat;
    transform: scale(1.111, 1.111);
    -webkit-transform: scale(1.111, 1.111);
    -moz-transform: scale(1.111, 1.111);
    -o-transform: scale(1.111, 1.111);
    -ms-transform: scale(1.111, 1.111);
    box-shadow: 7px 7px 5px #888888;
}

.add_button {
    background-color: transparent !important;
    background-image: url(#{resource[ 'default:images/add_button.png' ]}) !important;
    border: none !important;
    float: left;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 15px !important;
    margin-top: 15px !important;
    border-radius: 10px;
}

.add_button:hover {
    border: none !important;
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}

.edit_button {
    background-color: transparent;
    background: url(#{resource[ 'default:images/edit.png' ]}) !important;
    background-repeat: no-repeat;
    float: left;
    width: 22px;
    height: 22px;
}

.button:hover {
    background-color: #485c7a;
}

.admin_panel {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    height: auto;
    width: 1000px;
}

.window {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 75px;
    height: 75px;
    margin: 0;
}


.window_panel {
    position: relative;
    float: left;
    width: 75px;
    height: 75px;
    margin-right: 0;
    margin-left: 54px;
    margin-top: 40px;
    margin-bottom: 45px;
}

.window_container {
    /* The size of a calenders background image */
    height: 720px;
    width: 900px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

}

.window_background {
    max-height: 720px;
    max-width: 900px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

/*.window_content {
    position: relative;
    margin: 0 auto;
    z-index: 2;
}*/

.window_cmdLink:hover{
    text-decoration: none;
}

/*Animations for opening and closing the windows*/
#leftDoor{
    background-color:red;
    left:0px;
    -webkit-animation: leftDoorOpen 4s ease 4s;
    -webkit-animation-fill-mode: forwards;

}

@-webkit-keyframes leftDoorOpen {
       0% { -webkit-transform: rotateY(0deg) scale(1,1) skew(0deg,0deg);
        -webkit-transform-origin: 0% 0%; }
        100% {
            -webkit-transform: rotateY(100deg) scale(0.85, 1) skew(0deg, 10deg);
            -webkit-transform-origin: 0% 0%;
        }
}

@keyframes leftDoorOpenMoz {
    0% {
        transform: rotateY(0deg);
        transform-origin: 0% 0%;
    }
    100% {
        transform: rotateY(100deg) scale(0.85, 1) skew(0deg, 10deg);
        transform-origin: 0% 0%;
    }
}

.flipped {
    /*transform*/
    -webkit-animation: leftDoorOpen 1s ease 1s;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;

    animation: leftDoorOpenMoz 1s ease 1s;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

.window_cover, .back{
    width:75px;
    height:75px;
}

.back {
    background-color: #555555;
    top:0;
    left:0;
}

.window_cover {
    position:absolute;
    background-color: #555555;
    top:0;
    left:0;
    z-index:100;
}



.window_cover:hover {
    transform-origin: left;
    -webkit-transform-origin: left;
    -webkit-transition:0.2s;
    -moz-transition:0.2s;
    -o-transition:0.2s;
    transition:0.2s
    -webkit-transform: scale(0.90,1) skew(0deg,5deg);
    transform: scale(0.90,1) skew(0deg,5deg);
}

#login {
    width: 400px;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 2%;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

#login h1 {
    background-color: #4c170e;
    padding: 20px 0;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

#login h2 {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    color: white;
}

/*.content_lightbox {
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    margin: auto;
}*/


/*Lightbox styling*/
.content_popup {
    display:inline-block;
    position:relative;

}

.content_wrapper {

}

.content_centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.day_text {
    position: absolute;
    top: -10rem;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Courier New, Courier, Monospaced;
    font-size: 10rem;
    font-weight: bolder;
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
    z-index: 3;
}

/*Admin panel styling*/
.admin_panelpart {
    background-color: rgba(255, 255, 255, 0.00);
    width: 25%;
    height: 20%;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}


/*forms*/
form {
    background-color: rgba(255, 255, 255, 0.00);
    padding: 2% 2%;
}

input[type="username"], input[type="password"], input[type="text"] {
    width: 380px;
    background: white;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1.5rem;
    color: #555;
}

input[type="radio"] {
    float: left;
    background: white;
    margin-bottom: 2px;
}

input.file {
    width: 380px;
    float: left;
    text-align: left;
    opacity: 0;
    z-index: 2;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1.4rem;
    color: #555;
}

input[type="submit"] {
    background-color: white;
    width: 100px;
    margin: 5px;
    padding: 5px;
    font-size: 1.4rem;
    color: black;
}

input[type="submit"]:hover {
    background: white;
    border: 2px solid black;

}

.errorMessage {
    color: red;
}
.clear { clear: both; }
