/**
 * style.css
 *
 */

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

html {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 16px;
}

body {
    background: url(#{resource[ 'default:images/background5.jpg' ]}) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font: 75%/1.5em Courier New, Courier, Monospaced;
    text-align: center;
    width: 100%;
    margin: 0 auto; /* center */
    padding: 0;
}

header {
    background: url(#{resource[ 'default:images/header.png' ]}) top no-repeat;
    height: 260px;
    width: 1000px;
    margin: auto;
}

footer {
    background-color: rgba(255, 255, 255, 0.54);
    clear: both;
    margin: auto;
    width: 1000px;
    border-radius: 15px;
}

section {
    background-color: rgba(255, 255, 255, 0.54);
    margin: auto;
    /*clear: both;*/
    width: 1000px;
    border-radius: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font: 1.9em/1em Courier New, Courier, Monospaced;
}

h1 {
    color: #4c170e;
    font: 2em Courier New, Courier, Monospaced;
    font-weight: bolder;
    padding-bottom: 2px;
}

h2 {
    font-family: Courier New, Courier, Monospaced;
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
}

h4 {
    font-size: 1.3em;
    font-weight: bolder;
}

h5 {
    font-family: Courier New, Courier, Monospaced;
    font-size: 1.2em;
    font-weight: bolder;
}

h6 {
    font-size: 1em;
    font-weight: bold;
}

p {
    font-family: Courier New, Courier, Monospaced;
    font-size: 1em;
    line-height: 1.5em;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
}

a:link {
    outline: none;
    text-decoration: none;
}

a:visited {
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #c60513;
    text-decoration: underline;
}

a:active {
    color: #b2b2b2;
    outline: none;
    text-decoration: none;
}

a:focus {
    outline: 1px dotted;
}


h2#date1 {
    color: black;
    /*font: Courier New, Courier, Monospaced;*/
    font-size: 16px;
    font-weight: bold;
    padding: 0;
}

h2#date2 {
    color: red;
    /*font: Courier New, Courier, Monospaced;*/
    font-size: 25px;
    font-weight: bold;
    padding: 0;
}

.window_date {
    position: relative;
    bottom: 0;
    top: 30px;
    left: 0;
    right: 0;

    margin: auto;
    z-index: 1000;
    font-family: Courier New, Courier, Monospaced;
    font-size: 60px;
    font-weight: bolder;
    color: #ffffff;
    opacity: 0.5;
    text-shadow: 2px 2px #ff0000;

}

#date_wrapper {
    position: absolute;
    left: 0;
    top: 100px;
    right: 0;

    bottom: 0;
}


.lock {
    position: relative;
    width: 25px;
    height: 25px;
    margin: 0;
}

.lock_panel {
    position: absolute;
    bottom: 1px;
    right: 2px;
    margin: auto;
    width: 25px;
    height: 25px;
}

.edit_panel {
    position: absolute;
    bottom: 1px;
    right: 30px;
    margin: auto;
    width: 25px;
    height: 25px;
    border: #ffffff solid 1px;
}

.delete_panel {
    position: absolute;
    bottom: 1px;
    right: 2px;
    margin: auto;
    width: 25px;
    height: 25px;
    border: #ffffff solid 1px;
}

.edit_panel:hover, .delete_panel:hover {
    border: grey solid 1px;
}

.thumbnail_container {
    background: url(#{resource[ 'default:images/background2.jpg' ]}) repeat;
    float: left;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 15px;
}

.thumbnail {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90px;
    height: 90px;
}

.thumbnail_container:hover {
    background: url(#{resource[ 'default:images/background.jpg' ]}) repeat;
}

.add_button {
    background-color: transparent !important;
    background-image: url(#{resource[ 'default:images/add_button.png' ]}) !important;
    float: left;
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    margin: 15px;
}

.add_button:hover {
    background-image: url(#{resource[ 'default:images/add_button_hover.png' ]}) !important;
}

.edit_button {
    background-color: transparent;
    background: url(#{resource[ 'default:images/edit.png' ]}) !important;
    background-repeat: no-repeat;
    float: left;
    width: 22px;
    height: 22px;
}

.button:hover {
    background-color: #485c7a;
}

.admin_panel {
    background-color: rgba(255, 255, 255, 0.75);
    height: auto;
    width: 100%;
}

.window {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 75px;
    height: 75px;
    margin: 0;
}

.window_panel {
    position: relative;
    float: left;
    border: 1px solid white;
    width: 75px;
    height: 75px;
    margin-right: 0;
    margin-left: 54px;
    margin-top: 40px;
    margin-bottom: 45px;
}

.window_panel:hover {
    border: 1px solid grey;
}

.window_container {
    /* The size of a calenders background image */
    height: 720px;
    width: 900px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

}

.window_background {
    max-height: 720px;
    max-width: 900px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.window_content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.window_cmdLink:hover{
    text-decoration: none;
}

#login {
    width: 400px;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 2%;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

#login h1 {
    background-color: #4c170e;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

#login h2 {
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    color: white;
}

.content_lightbox {
    width:500px;
    height: 400px;
    background-color: transparent;
}

.content_popup {
    background-color: white;
    height: 400px;
    width: 500px;
}

.content_popup_day {
    width:500px;
    height: 0px;
    position: relative;
    margin: auto;
    margin-top: 0;
    background: transparent;
}

.day_text {
    position: absolute;
    bottom: 20px;
    margin: auto;
    margin-bottom: 0px;
    text-align: center;
    font-family: Courier New, Courier, Monospaced;
    font-size: 100px;
    font-weight: bolder;
    color: #ffffff;
    text-shadow: 2px 2px 5px black;
    z-index: 2;
}

.admin_panelpart {
    background-color: rgba(255, 255, 255, 0.00);
    width: 25%;
    height: 20%;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

form {
    background-color: rgba(255, 255, 255, 0.00);
    padding: 2% 2%;
}

input[type="username"], input[type="password"], input[type="text"] {
    width: 95%;
    background: white;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    padding: 2%;
    font-size: 1.5em;
    color: #555;
}

input[type="radio"] {
    float: left;
    background: white;
    margin-bottom: 4%;
}

input.file {
    width: 95%;
    float: left;
    text-align: left;
    opacity: 0;
    z-index: 2;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    padding: 2%;
    font-size: 1.6em;
    color: #555;
}

input[type="submit"] {
    background-color: white;
    padding: 2%;
    font-size: 1em;
    color: black;
}

input[type="submit"]:hover {
    background: white;
    border: 2px solid black;

}

.errorMessage {
    color: red;
}
